/* COLORS AND FONT STYLES*/

/* Dark background color (hero and footer) */
/* background-color: #1F2937; */

/* Hero Main Text ("this website is awsome") */
/* fontsize: 48px */
/* font-weight: extra-bold; */
/* color: #F9FAF8 */

/* Hero secondary text, header link text */
/* font-size: 18px; */
/* color: #E5E7EB */

/* Button color, call to action Background color */
/* background-color: #3882F6 */

/* Information header text */
/* font-size:36px;
font-weight: extra-bold;
color: #1F2937 */

/* Quote section background color */
/* background-color:#E5E7EB */

/* Quote text */
/* font-size:36px; */
/* font-style: italic; */
/* color:#1F2937 */

/* CLASSES */
/*
.navbar, .footer {
    background-color: #1F2937;
} */

/* h1 {
  margin: 0px;
  padding: 0px;
}

p {
    margin: 0px;
    padding: 0px;
} */

@import url('https://fonts.googleapis.com/css2?family=Rokkitt&display=swap');

* {
  font-family: 'Rokkit', sans-serif;
}


/* SPACING ON THE SIDES FOR CENTERING CONTENT */
.space-nav, .space1, .space2, .space3, .space4, .space-footer {
  flex-shrink: 0;
  width: 10em;
}


/* NAVBAR */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 98.5vw;
  font-size: 24px;
  font-weight: bold;
  background-color: #1f2937;
  color: #f9faf8;
}

/* SPECIFIC SPACE-NAV WIDTH TO CENTER THE NAVBAR CONTENT */
.space-nav {
  width: 14em;
}

/* PUSHING THE LINKS ALL THE WAY TO THE RIGHT AND THE THE HEADER LOGO ALL THE WAY TO THE LEFT */

.link-container {
  margin-left: auto;
}

/* STYLING AND SEPARATING THE LINKS */
.navbar ul {
  display: flex;
  gap: 3em;
  font-size: 18px;
  color: #e5e7eb;
  list-style: none;
}

/* SECTION ONE */


.section-one {
  display: flex;
  justify-content: center;
  width: 98.5vw;
  padding: 100px 0px;
  background-color: #1f2937;
}

/* CONTAINER WITH THE "AWESOME" TEXT */

.container-one {
  display: flex;
  width: 35rem;
  flex-direction: column;
  flex-wrap: wrap;
}

.container-one h1,
p {
  color: #f9faf8;
}

.container-one h1 {
  font-size: 48px;
  font-weight: 900;
}

/* THE SECOND "CONTAINER" WITH THE IMAGE  */

.placeholder-img {
  display: flex;
  flex: 0.5;
  justify-content: center;
  align-items: center;
  justify-self: flex-start;
  color: #f9faf8;
  font-size: 18px;
  background-color: #b4b5b6;
}


/* SIGN UP BUTTON STYLING */

.button-one {
  color: #f9faf8;
  font-weight: 900;
  font-size: 15px;
  background-color: #3882f6;
  padding: 8px;
  margin-top: 15px;
  border-radius: 10px;
  width: 120px;
  border: none;
}



/* SECTION TWO */

.section-two {
  width: 98.5vw;
  text-align: center;
  background-color: White;
}

.section-two h1 {
  font-size: 36px;
  font-weight: bolder;
  color: #1f2937;
}


/* STYLING OF THE IMAGES AND BOXES */
.box-container {
  display: flex;
  justify-content: center;
  gap: 5em;
}

.box {
  display: flex;
  width: 150px;
  height: 150px;
  border: solid blue 2px;
  border-radius: 1em;
}

.box img {
  border-radius: 1em;
}

/* STYLING OF THE TEXT AND IT'S CONTAINER */

.txt-container {
  display: flex;
  justify-content: center;
  gap: 5.4em;
}

.txt {
  display: flex;
  width: 150px;
  height: 150px;
  padding-top: 1em;
}

/* SECTION THREE */


.section-three {
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
  background-color: #e5e7eb;
  width: 98.5vw;
}

.quote {
font-size:36px;
font-weight: 200;
font-style: italic;
color:#1F2937;
width: 20em;
padding-top: 3.5em;
padding-bottom: 0.5em;
}

.author {
  display: flex;
  justify-content: flex-end;
  font-weight: 700;
  font-size: 25px;
  padding-bottom: 3em;
}

.section-four {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 18em;
  width: 98.5vw;
  background-color: white;
  color: #f9faf8;
}

.container-four {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 65em;
  height: 8em;
  border-radius: 0.5em;
  background-color: #3882f6;
}

.call2a {
  margin: 0em;
}

.button-two {
  color: #f9faf8;
  font-weight: 900;
  font-size: 15px;
  background-color: #3882f6;
  padding: 8px;
  border-radius: 10px;
  width: 120px;
  border: solid #f9faf8 0.2em;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 98.5vw;
  height: 7em;
  background-color: #1f2937;
}

.copy {
  color: #f9faf8;
  font-size: 1.2em;
  font-weight: 700;
}
