/* COLORS AND FONT STYLES*/

/* Dark background color (hero and footer) */
/* background-color: #1F2937; */

/* Hero Main Text ("this website is awsome") */
/* fontsize: 48px */
/* font-weight: extra-bold; */
/* color: #F9FAF8 */

/* Hero secondary text, header link text */
/* font-size: 18px; */
/* color: #E5E7EB */

/* Button color, call to action Background color */
/* background-color: #3882F6 */

/* Information header text */
/* font-size:36px;
font-weight: extra-bold;
color: #1F2937 */

/* Quote section background color */
/* background-color:#E5E7EB */

/* Quote text */
/* font-size:36px; */
/* font-style: italic; */
/* color:#1F2937 */

/* CLASSES */
/*
.navbar, .footer {
    background-color: #1F2937;
} */

/* h1 {
  margin: 0px;
  padding: 0px;
}

p {
    margin: 0px;
    padding: 0px;
} */

/* SPACING ON THE SIDES FOR CENTERING CONTENT */
.space-nav, .space1, .space2, .space3, -space4, .space-footer {
  flex-shrink: 0;
  width: 10em;
}


/* NAVBAR */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 99.15vw;
  font-size: 24px;
  font-weight: bold;
  background-color: #1f2937;
  color: #f9faf8;
}


/* STYLING AND SEPARATING THE LINKS */
.navbar ul {
  display: flex;
  gap: 8px;
  font-size: 18px;
  color: #e5e7eb;
  list-style: none;
}

/* SPACE CREATED TO CENTER THE CONTENT */
.space-nav{
  flex-shrink: 0;
}

/* SECTION ONE */


.section-one {
  display: flex;
  justify-content: center;
  width: 99.15vw;
  padding: 100px 0px;
  background-color: #1f2937;
}

/* CONTAINER WITH THE "AWESOME" TEXT */

.container-one {
  display: flex;
  width: 35rem;
  flex-direction: column;
  flex-wrap: wrap;
}

.container-one h1,
p {
  color: #f9faf8;
}

.container-one h1 {
  font-size: 48px;
  font-weight: 900;
}

/* THE SECOND "CONTAINER" WITH THE IMAGE  */

.placeholder-img {
  display: flex;
  flex: 0.5;
  justify-content: center;
  align-items: center;
  justify-self: flex-start;
  color: #f9faf8;
  font-size: 18px;
  background-color: #b4b5b6;
}


/* SIGN UP BUTTON STYLING */

.button-one {
  color: #f9faf8;
  font-weight: 900;
  font-size: 15px;
  background-color: #3882f6;
  padding: 8px;
  margin-top: 15px;
  border-radius: 10px;
  width: 120px;
  border: none;
}

.space1 {
  flex-shrink: 0;
  width: 10em;
}


/* SECTION TWO */

.section-two {
  text-align: center;
  background-color: White;
}

.section-two h1 {
  font-size: 36px;
  font-weight: bolder;
  color: #1f2937;
}

.box-container {
  display: flex;
  justify-content: center;
  gap: 5em;
}

.box {
  display: flex;
  width: 150px;
  height: 150px;
  border: solid blue 2px;
}

.txt-container {
  display: flex;
  justify-content: center;
  gap: 5em;
}

.txt {
  display: flex;
  width: 150px;
  height: 150px;
}

.space2 {
  flex-shrink: 0;
}


.section-three {
  background-color: sienna;
}

.section-four {
  background-color: purple;
}

.footer {
  background-color: pink;
}
