/* COLORS AND FONT STYLES*/

/* Dark background color (hero and footer) */
/* background-color: #1F2937; */

/* Hero Main Text ("this website is awsome") */
/* fontsize: 48px */
/* font-weight: extra-bold; */
/* color: #F9FAF8 */

/* Hero secondary text, header link text */
/* font-size: 18px; */
/* color: #E5E7EB */

/* Button color, call to action Background color */
/* color: #3882F6 */

/* Information header text */
/* font-size:36px;
font-weight: extra-bold;
color: #1F2937 */

/* Quote section background color */
/* color:#E5E7EB */

/* Quote text */
/* font-size:36px; */
/* font-style: italic; */
/* color:#1F2937 */

/* CLASSES */
/*
.navbar, .footer {
    background-color: #1F2937;
} */

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  background-color: #1F2937;
  color: #F9FAF8;

  /* background-color: blue; */
}

.navbar ul {
    display: flex;
    gap: 8px;
    font-size: 18px;
    color: #E5E7EB;
    list-style: none;
    /* background-color: green; */
}

.section-one {
  background-color: yellow;
}

.section-two {
  background-color: red;
}

.section-three {
  background-color: sienna;
}

.section-four {
  background-color: purple;
}

.footer {
  background-color: pink;
}
